[Desktop Entry]
Name=SonneWebApp
Comment=Convert webpage into app. GitHub: https://github.com/IlNonoP/SonneWebApp
Exec=~/.config/SonneWebApp/run.sh
Icon=~/.config/SonneWebApp/icon.png
Terminal=false
Type=Application
Categories=Utility;Web;
